/* стандартные обнуления отступов и прочие настройки */

html {
	height:100%;
	color: #000;
	background:#fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
	font-style: inherit;
	font-weight: inherit;
}

del,
ins {
	text-decoration: none;
}

li {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,
q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: baseline;
}

sub {
	vertical-align: baseline;
}

legend {
	color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

input,
button,
textarea,
select {
	*font-size: 100%;
}

body {
	position:relative;
    font-family: Tahoma;
    font-size:11px;
	color:#000;
	width:100%;
	height:100%;
}

a {
	text-decoration:none;
	color:#000;
}

#container {
	min-height:100%;
	height:auto !important;
	height:100%;
}

#header {
	height:123px;
	position:relative;
	z-index:2000;
}

.maxwidth {
	width:1004px;
	margin:0 auto;
}

#header h1 {
	margin-left:25px;
	background: url(img/logo.png) no-repeat left top;
	height:108px;
}

#header h1 a {
	display:block;
	text-indent:-9000px;
	position:relative;
	top:25px;
	height:56px;
	width:230px;
	overflow:hidden;
}

#nav {
	position:absolute;
	left:14px;
	bottom:0;
}

#nav li {
	float:left;
	margin:0 6px;
	position:relative;
}

#nav li:hover .secnav {
	display:block;
}

#nav li a {
	display:block;
	color:#1e2172;
	font-size:12px;
	font-weight:bold;
	padding:5px 6px 10px;
	margin:1px 1px 0;
	cursor:pointer;
}

#nav li a:hover, #nav li:hover .doublelist {
	border-width:1px 1px 0;
	border-style:solid;
	border-color:#b6b7bd;
	margin:0 !important;
}

.nav-active {
	border:1px solid #b6b7bd;
	margin:0 !important;
	border-bottom:0 solid #b6b7bd !important;
}

.secnav {
	display:none;
	position:absolute;
	width:160px;
	background:#fff;
	color:#1e2172;
	border:1px solid #b6b7bd;
	z-index:20000;
}

.secnav li {
	width:100%;
	margin:0 !important;
}

.secnav li a {
	text-indent:9px;
	font-size:11px !important;
	line-height:23px;
	margin:0 !important;
	padding:0 !important;
	font-weight:normal !important;
	border-bottom:1px solid #ececee;
	background:none;
}

.secnav li a:hover {
	color:#ae1e04 !important;
	border-width:0 0 1px !important;
	border-color:#ececee !important;
}

.secnav-active {
	text-indent:11px;
}

.secnav-no-active {
	text-indent:9px;
}

.secnav-last a {
	border:none !important;
}

.secnav .full-list {
	background: url(img/full_list_arrow.png) no-repeat 9px center !important;
	text-indent:19px !important;
}

.full-list {
	color:#ae1e04 !important;
}

#head-signin {
	position:absolute;
	right:133px;
	top:21px;
	width:184px;
	font-size:10px;
	font-family:verdana;
}

#head-signin h2 {
	color:#1e2172;
	line-height:18px;
}

.textin {
	width:178px;
	height:16px;
	border:1px solid #cfcece;
	margin-bottom:4px;
	padding:3px 0 0 4px;
}

#signin-sub {
	cursor:pointer;
	margin-top:4px;
	width:41px;
	height:21px;
	background:#1e2172;
	border:none;
	color:#fff;
	float:right;
}

#head-signin a {
	color:#1e2172;
	display:block;
}

#head-basket {
	width:200px;
	position:absolute;
	top:27px;
	left:437px;
	color:#1e2172;
	font-size:10px;
	font-family:verdana;
	height:53px;
	background: url(img/basket_bg.png) no-repeat;
}

#head-basket h2 a {
	color:#1e2172;
}

.basket-img {
	display:block;
	width:36px;
	height:30px;
	text-indent:-9000px;
	background: #f07c23 url(img/basket.png) no-repeat;
	overflow:hidden;
	float:left;
	margin-right:20px;
}

#head-basket dt {
	color:#5b5959;
	float:left;
	margin-right:6px;
}

#head-basket dd, #head-basket dd a {
	color:#ae1e04;
}

#head-basket dd span {
	font-weight:bold;
}

#spec-wrapper {
	clear:both;
	height:182px;
	background: #1e2172 url(img/spec_bg.png) repeat-x;
	position:relative;
	z-index:1;
}

#spec {
	overflow:hidden;
}

#topflash {
	position:relative;
	z-index:1000;
}

#flash-bg {
	float:left;
	margin-right:25px;
	width:668px;
	height:182px;
}

#spec h2 {
	width:257px;
	height:62px;
	text-indent:-9000px;
	display:block;
	float:left;
	margin-top:20px;
	background: url(img/spec_title_bg.png) no-repeat;
	margin-bottom:10px;
}

#spec p {
	line-height:15px;
	text-align:justify;
	color:#fff;
	font-size:11px;
	float:left;
	width:284px;
}

#content {
	width:1004px;
	overflow:hidden;
}

#solution {
	width:670px;
	height:300px;
	float:left;
	position:relative;
}

#solution h2 {
	margin:25px 0 0 28px;
	width:604px;
	height:28px;
	text-indent:-9000px;
	background: url(img/solution.png) no-repeat 2px top;
	border-bottom:1px solid #c9cacf;
	position:relative;
	z-index:-1;
}

#solution ul {
	margin-top:10px;
	margin-left:28px;
	line-height:24px;
	font-size:12px;
	width:175px;
}

#solution li {
	height:24px;
	display:block;
	overflow:hidden;
}

#solution li:hover div {
	visibility:visible;
}

#solution li a {
	padding-left:22px;
	background: url(img/solution_arrow_blue.png) no-repeat left 3px;
	cursor:pointer;
	height:24px;
}

#solution li a:hover {
	color:#1e2172;
}

.active-solution, .active-solution a {
	color:#1e2172 !important;
}

#solution .full-list {
	background: url(img/solution_arrow_red.png) no-repeat left 3px !important;
}

.solution-content {
	width:470px;
	height:216px;
	position:absolute;
	top:63px;
	right:0;
	visibility:hidden;
	background-position:30px top !important;
}

.active-solution .solution-content {
	visibility:visible !important;
}

.autodiller {
	background: #fff url(img/auto_icons.jpg) no-repeat;
}

.geotargeting {
	background: #fff url(img/auto_icons2.jpg) no-repeat;
}

.cms-admin {
	background: #fff url(img/auto_icons3.jpg) no-repeat;
}

.htmlcleaner {
	background: #fff url(img/auto_icons4.jpg) no-repeat;
}

#solution h3 {
	color:#1e2172;
	font-weight:bold;
	margin-left:265px;
	margin-bottom:10px;
	font-size:11px;
}

#solution p {
	margin-left:265px;
	color:#1d1d1d;
	width:190px;
	line-height:19px;
	font-size:11px;
}

#support {
	width:325px;
	float:right;
}

#support h2 {
	background: url(img/support.png) no-repeat 2px top;
	border-bottom:1px solid #C9CACF;
	height:28px;
	margin:25px 0 8px 11px;
	text-indent:-9000px;
	width:314px;
}

#support ul {
	margin-top:10px;
	width:302px;
	position:relative;
}

#support li {
	margin-bottom:16px;
	padding:10px;
	overflow:hidden;
	line-height:15px;
}

#support li h3 {
	height:15px;
	text-indent:-9000px;
}

.bordered-block {
	border:1px solid #c1c2c6;
}

.graph {
	background: url(img/graph.png) no-repeat;
}

#diagram {
	position:absolute;
	right:10px;
	margin-top:10px;
	margin-left:10px;
	width:95px;
	height:82px;
}

.money {
	background: url(img/money.png) no-repeat;
}

#support li h4 {
	width:180px;
	margin-top:10px;
	color:#00078d;
}

#support li p {
	width:180px;
}

#support li p span {
	color:#b22600;
	font-weight:bold;
}

#works {
	clear:left;
	position:relative;
	width:670px;
	float:left;
}

#works h2 {
	background:transparent url(img/works.png) no-repeat 2px top;
	border-bottom:1px solid #C9CACF;
	height:28px;
	margin:10px 0 0 28px;
	text-indent:-9000px;
	width:604px;
	margin-bottom:12px;
}

#works-title-wrapper {
	line-height:22px;
	position:absolute;
	top:15px;
	right:38px;
	width:495px;
	height:24px;
	overflow:hidden;
}

#works-title {
	width:9000px;
	position:absolute;
	right:0;
	overflow:hidden;
}

#works-title li {
	background:#f8f8f8;
	border-top:1px solid #cdcdcd;
	border-right:1px solid #cdcdcd;
	border-left:1px solid #cdcdcd;
	float:right;
	height:22px;
}

#works-title li a {
	font-size:12px;
	color:#6b6b6b;
	font-weight:bold;
	padding:0 27px;
	height:22px;
	cursor:pointer;
}

#works-title li a:hover {
	color:#b22600;
}

.works-arrows {
	width:23px;
	height:22px;
	display:block;
	text-indent:-9000px;
	cursor:pointer;
	padding:0 !important;
	position:absolute;
	border:1px solid #cdcdcd;
	z-index:1000;
}

.forw-wtitle {
	background: #F8F8F8 url(img/forw_wtitle.png) no-repeat center !important;
	right:0;
}

.prev-wtitle {
	background: #F8F8F8 url(img/prev_wtitle.png) no-repeat center !important;
	left:0;
}

.no-prev {
	visibility:hidden;
}

.active-wlink {
	height:22px;
	border-top:1px solid #b5b5b5 !important;
	border-right:1px solid #b5b5b5 !important;
	border-left:1px solid #b5b5b5 !important;
	border-bottom:1px solid #fff;
}

.active-wlink a {
	color:#b22600 !important;
}

#works-preview-wrapper {
	margin-left:28px;
	width:604px;
	overflow:hidden;
	position:relative;
}

#works-preview {
	width:90000px;
	overflow:hidden;
}

#works-preview li {
	width:146px;
	float:left;
	display:block;
	text-align:center;
	font-size:10px;
	color:#8e8e8e;
	margin-right:7px;
}

#works-preview li img {
	width:144px;
	height:87px;
	border:1px solid #c1c2c6;
}

#works-preview li p {
	margin:0 7px;
}

#works-preview li h3 a {
	color:#1e2172;
	line-height:20px;
	font-weight:bold;
}

#works-preview li p a {
	color:#8e8e8e;
}

.work-arrows {
	position:absolute;
	display:block;
	cursor:pointer;
	width:15px;
	height:15px;
	top:65px;
	border:1px solid #000;
	text-indent:-9000px;
}

.prevwork {
	left:10px;
	background:#fff url(img/works_arrow_lblue.png) no-repeat center;
}

.forwork {
	right:10px;
	background:#fff url(img/works_arrow_rblue.png) no-repeat center;
}

#seo {
	margin-top:15px;
	clear:left;
	float:left;
	position:relative;
	width:670px;
}

#seo h2 {
	background: url(img/seo.png) no-repeat 2px top;
	border-bottom:1px solid #C9CACF;
	height:28px;
	margin:10px 0 12px 28px;
	text-indent:-9000px;
	width:604px;
}

#seo p {
	width:600px;
	margin:15px 0 6px 28px;
	font-size:11px;
}

#seo p a {
	color:#00078d;
}

#hfooter {
	clear:both;
	height:170px;
}

#footer-wrapper {
	margin-top:-170px;
	height:170px;
	overflow:hidden;
}

#footer-bg-wrapper {
	margin-top:58px;
	height:112px;
	background: #1e2172 url(img/footer_bg.png) repeat-x bottom;
}