html {
	color: #000;
	background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
	font-style: inherit;
	font-weight: inherit;
}

del,
ins {
	text-decoration: none;
}

li {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,
q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: baseline;
}

sub {
	vertical-align: baseline;
}

legend {
	color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

input,
button,
textarea,
select {
	*font-size: 100%;
}

html, body {
	height:100%;
}

#container {
	height:100%;
}

#wrapper {
	min-height:100%;
	background:orange;
}

*html #wrapper {
	height:100%;
}

#header-wrapper {
	width:100%;
	background:#fff;
	height:30px;
}

#header {
	background:green;
	width:100px;
	height:100%;
}

#content {
	background:orange;
	margin-bottom:40px;
}

#footer-wrapper {
	width:100%;
	background:white;
	height:40px;
	margin-top:-40px;
}

#footer {
	width:200px;
	background:blue;
	height:100%;
}