#container { height:100%; overflow:visible; }
#left .menu li, #left ul.recommend li, #content .title, #left .menu .slide { zoom:1; vertical-align:bottom; }
.more span { 
	jscript: expression(
		this.p ? 0 : (
			this.className == 'current' ? ( this.t = 'current ' ) : ( this.t = '' ),
			this.onmouseenter = new Function("this.className = this.t + 'hover';"),
			this.onmouseleave = new Function("this.className = this.t;"),
			this.p = 1
		)
	);
}
.more b, #header .number { 
	filter: expression(
		this.p ? 0 : (
			fixPNG(this),
			this.p = 1
		)
	);
}