input, button, textarea, select { font-size: 100%; }
#header .menu a { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75); }
#content .wrapper { position:static; }
#overlay { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=75); }