/* стандартные обнуления отступов и прочие настройки */

html {
	height:100%;
	color:#505050;
	background:#fff;
	font-family:Arial,Tahoma,Sans-Serif;
	font-size:13px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
	font-style: inherit;
	font-weight: inherit;
}

del,
ins {
	text-decoration: none;
}

li {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,
q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: baseline;
}

sub {
	vertical-align: baseline;
}

legend {
	color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

.new_menu {
	background: url('/img/cprt.jpg') top left repeat-x;
	height:35px;
}
.new_menu li {
	margin-top:5px;
	float:left;
	position:relative;
}
.new_menu li:hover {
	background-color:#dedede;
}
.new_menu li:hover ul {
	visibility:visible;
}
.new_menu a {
	display:block;
	color:#515151;
	font-weight:700;
	padding:0 30px;
	line-height:30px;
}
.new_menu a:hover{
	color:#3a3434;
	font-weight:700;
	background-color:#dedede;
}
.selected {
	background-color:#dedede;
}
.selected ul {
	visibility:visible !important;
}
.new_menu li ul {
	visibility:hidden;
	position:absolute;
	background:#fff;
	opacity:0.9;
	filter: Alpha(opacity=90);
	z-index:10000;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom:1px solid #D4D4D4;
	border-right:1px solid #D4D4D4;
	border-left:1px solid #D4D4D4;
	min-width:50px;
	width:1px;
}
.new_menu li li {
	width:100%;
	margin:0 !important;
	float:none !important;
}
.new_menu li li a {
	color:#000 !important;
	padding:0 20px !important;
	font-size:10px;
	line-height:25px !important;
}

.fl { float:left; }
.fr { float:right; }
