/* opacity */

#header .service .black_line { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10); }
#bannerSlider .corners .main li b { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); }
.tabs.horizontal .titles li .title { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=25); }
.tabs.horizontal .titles li .title:hover { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); }
.path li.first { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90); }
.tabs.horizontal .titles li.active .title, .path li.first:hover { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); }

/* tabs */

.tabs.horizontal .titles li .title { position:static; }