/* reset.css */

html { height:100%; color:#333333; background:#fff; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
table {	border-collapse: collapse; border-spacing: 0; }
fieldset, img {	border: 0; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: inherit;	font-weight: inherit; }
del, ins { text-decoration: none; }
li { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after {	content: ''; }
abbr, acronym {	border: 0; font-variant: normal; }
sup, sub { vertical-align: baseline; }
legend { color: #000; }
input, button, textarea, select, optgroup, option {	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
* { outline:0; }
a {	text-decoration:none; cursor:pointer; }

/* corners */

.corners { position:relative; overflow:hidden; }
.corners .cn.tr, .corners .cn.br { margin-left:100%; }
.corners .cn.bl, .corners .cn.br { top:auto !important; }
.corners .cn { position:absolute; overflow:hidden; z-index:2; }
.corners.gray .cn {
	width:18px;
	height:18px;
	background:url(../img/gray_corners.png) no-repeat;
	top:-9px;
	left:-9px;
}
.corners.gray .cn.bl, .corners.gray .cn.br { margin-top:-9px; }
.corners.white .cn {
	width:2px;
	height:2px;
	background:#fff;
	top:-1px;
	left:-1px;
}
.corners.white .cn.bl, .corners.white .cn.br { margin-top:-1px; }

/* main.css */

body { font:12px Arial, Helvetica, sans-serif; background: url(../img/main_bg.jpg) no-repeat center top; }
#container { width:960px; margin:0 auto; }

/* coins */

.coin { overflow:hidden; display:block; background: url(../img/coins.png) no-repeat; }
.coin.small { width:16px; height:16px; }
.coin.big { width:32px; height:32px; }
.silver.small { background-position:-32px top !important; }
.silver.big { background-position:left top !important; }
.small.gold { background-position:-32px -16px !important; }
.close.small { background-position:-48px top; }

/* action */

.action { border-top:1px solid #999999; border-bottom:1px solid #999999; line-height:21px; width:118px; }
.action .corners { margin:0 -1px; width:118px; overflow:visible; background:#999999; border-left:1px solid #999999; border-right:1px solid #999999; }
.action a.write { color:#fff; padding-left:6px; height:21px; display:block; }
.action .arrow {
	width:21px;
	height:21px;
	text-indent:-999999px;
	overflow:hidden;
	display:block;
	float:right;
	background:#000;
	margin-top:-21px;
	background: url(../img/action_arrow.png) no-repeat;
}
.action ul { position:absolute; display:none; }

/* fade */

i.fade {
	float:right;
	display:block;
	width:16px;
	height:20px;
	margin-top:-20px;
	background: url(../img/white_fade.png) repeat-y right top;
}

/* header */

#header { width:100%; }

/* service */

/* service decor */

#header .service { width:100%; height:40px; background:#fff; position:relative; z-index:3; }
#header .service .cn {
	width:3px;
	height:3px;
	background: url(../img/corners_white_small.png) no-repeat;
	position:absolute;
	top:37px;
	left:0;
}
#header .service .cn.br { margin-left:100%; left:-3px; background-position:-3px top; }
#header .service .black_line {
	overflow:hidden;
	position:absolute;
	width:954px;
	top:40px;
	height:1px;
	background:#000;
	left:3px;
	opacity:0.1;
}
#header .service .arrow {
	float:right;
	height:6px;
	width:9px;
	display:block;
	background: url(../img/down_arrow.png) no-repeat;
	text-indent:-999999px;
	position:relative;
	overflow:hidden;
}

/* service igamecentral link */

#header .service .sign_up_link {
	display:block;
	line-height:40px;
	width:140px;
	text-indent:-999999px;
	background: url(../img/igamecentral.png) no-repeat 10px top;
}

/* popup */

#header .service .popup.active ul { display:block !important; }
#header .service .popup:hover ul { display:block; }

/* service anounce */

#header .service .anounce {
	width:480px;
	line-height:40px;
	background:#fff2a7;
	color:#333333;
	position:absolute;
	left:240px;
	top:0;
	white-space:nowrap;
	z-index:1;
}
#header .service .anounce.active { height:40px; overflow:hidden; }
#header .service .anounce p { padding:0 30px 0 15px; overflow:hidden; height:40px; cursor:pointer; }
#header .service .anounce .arrow { left:-16px; margin-top:-23px; }
#header .service .anounce ul { border:1px solid #e5e5e5; border-top:0; display:none; }
#header .service .anounce li { border-top:1px solid #fff; }
#header .service .anounce li a { display:block; padding:0 15px; color:#333; height:40px; }
#header .service .anounce li.yellow a:hover { background:#fee96e; }
#header .service .anounce li.red a { background:#ffc8a7; }
#header .service .anounce li.red a:hover { background:#ff9e63; }
#header .service .anounce li.gray a { background:#eeeeee; }
#header .service .anounce li.gray a:hover { background:#cccccc; }

/* service userbar */

#header .service .userbar {
	position:absolute;
	width:228px;
	top:0;
	left:-240px;
	padding-left:12px;
	margin-left:100%;
	z-index:1;
	height:40px;
}
#header .service .userbar .user { width:110px; margin-top:10px; overflow:hidden; position:relative; float:left; }
#header .service .userbar .user a {
	display:block;
	font-weight:bold;
	font-size:14px;
	line-height:20px;
	color:#666666;
	float:left;
	white-space:nowrap;
	padding-left:24px;
}
#header .service .userbar .user a img {
	width:16px;
	height:16px;
	padding:1px;
	border:1px solid #99cc33;
	position:absolute;
	left:0;
	top:0;
}
#header .service .userbar .coins {
	padding:10px 0 0 10px;
	font-size:16px;
	color:#666666;
	display:block;
	float:left;
	width:108px;
	height:30px;
}
#header .service .userbar .coins b { line-height:18px; float:left; }
#header .service .userbar .coins i {
	float:left;
	margin-left:3px;
	font-style:normal;
	font-weight:normal;
	color:#999999;
	font-size:14px;
	line-height:24px;
}
#header .service .userbar .coins .coin { float:left; margin-left:4px; }
#header .service .userbar .arrow { left:-14px; top:-23px; }
#header .service .userbar ul {
	display:none;
	position:absolute;
	width:230px;
	border:1px solid #e5e5e5;
	top:40px;
	left:0;
	background:#fff;
	border-top:0;
}
#header .service .userbar li { padding:6px 0 5px; background: url(../img/gray_sep.png) no-repeat center top; }
#header .service .userbar li a {
	color:#414141;
	display:block;
	white-space:nowrap;
	height:22px;
	line-height:22px;
	padding:0 10px;
}
#header .service .userbar li a.gray { color:#999999 !important; }
#header .service .userbar li a:hover { color:#fff !important; background:#414141; margin:0 -1px; padding:0 11px; }
#header .service .userbar li.first a { overflow:hidden; }
#header .service .userbar li.first a i { float:left; font-style:normal; }
#header .service .userbar li.first a b { font-size:10px; float:right; }
#header .service .userbar li.second ol { overflow:hidden; margin:0 -1px; }
#header .service .userbar li.second ol li { width:50%; float:left; padding:0; background:none; }
#header .service .userbar li.third a { color:#333333; }

/* logo + menu */

#header .navigation { overflow:hidden; }
#header .navigation h1 { width:300px; padding-left:10px; height:120px; float:left; }
#header .navigation h1 a { display:block; text-indent:-999999px; height:100%; background: url(../img/logo.png) no-repeat; }
#header .navigation .menu { float:left; margin-left:20px; margin-top:33px; }
#header .navigation .menu ul { overflow:hidden; width:100%; }
#header .navigation .menu .first li { float:left; margin-right:20px; }
#header .navigation .menu .first li a { color:#fff; font-weight:bold; font-size:20px; }
#header .navigation .menu .first li a:hover { color:#cccccc; }
#header .navigation .menu .second { margin-top:5px; }
#header .navigation .menu .second li { float:left; margin-right:15px; }
#header .navigation .menu .second li a {
	color:#333333;
	font-weight:bold;
	font-size:14px;
	display:block;
	padding-bottom:1px;
}
#header .navigation .menu .second li a:hover { color:#cc0000; background: url(../img/red_dotted.png) repeat-x left bottom; }

/* benner slider */

#bannerSlider { padding:0 5px; }
#bannerSlider .corners { width:100%; }
#bannerSlider .corners .main { padding:5px; background:#ededed; height:150px; }
#bannerSlider .corners .main .slider { width:100%; position:relative; height:100%; overflow:hidden; background:#000; }
#bannerSlider .corners .main ul { width:100000px; height:100%; }
#bannerSlider .corners .main ul.active { visibility:hidden; }
#bannerSlider .corners .main li { float:left; display:block; height:150px; }
#bannerSlider .corners .main li a { display:block; float:left; }
#bannerSlider .corners .main li img { float:left; }
#bannerSlider .corners .main li b {
	float:left;
	display:block;
	position:relative;
	margin-left:-1px;
	width:1px;
	height:150px;
	background:#fff;
	opacity:0.5;
}

/* content */

#content { padding:0 10px; margin-top:19px; }
#content .wrapper { width:100%; padding:1px 0; overflow:hidden; }
#content .left { clear:left; float:left; width:460px; }
#content .right { clear:right; float:right; width:460px; }
#content h2 { font-size:36px; color:#333333; line-height:44px; }
.more { width:100%; font-style:italic; font-size:14px; margin-top:20px; overflow:hidden; }
.more li { float:right; margin-left:15px; }
.more li a { color:#333333; }
.more li a:hover { text-decoration:underline; }
.more li.leftMore { float:left; margin:0; }
.more li.leftMore { color:#999999; }

/* tabs */

dl.tabs { width:100%; overflow:hidden; }
dl.tabs dt { float:right; border-bottom:1px solid #d9d9d9; padding:0 4px; }
dl.tabs dt .corners { border-top:1px solid #fff; position:relative; top:1px; overflow:visible; }
dl.tabs dt .corners .cn { display:none; }
dl.tabs dt a { display:block; padding:7px 7px 6px; border-bottom:1px solid #d9d9d9; font-size:14px; font-weight:bold; color:#999999; margin:0 -1px; }
dl.tabs dt.active .corners { border-color:#d9d9d9; }
dl.tabs dt.active a {
	border-left:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
	border-bottom:1px solid #fff;
	padding:7px 6px 6px;
	color:#333 !important;
}
dl.tabs dt a:hover { color:#666; }
dl.tabs dt.active .corners .cn { display:block; }
dl.tabs dd { display:none; float:left; width:100%; margin-right:-100%; margin-top:35px; }
dl.tabs dd.active { display:block; }

/* exchange */

#content .exchange { border-top:1px solid #f2f2f2; border-bottom:1px solid #f2f2f2; float:left; line-height:26px; margin-left:9px; float:left; }
#content .exchange .corners { background:#f2f2f2; margin:0 -1px; padding:0 8px; overflow:visible; height:28px; float:left; }
#content .exchange .coin.big { float:left; margin-top:-2px; margin-left:-16px; margin-right:7px; position:relative; }
#content .exchange form { overflow:hidden; float:left; height:28px; color:#999999; }
#content .exchange .coin.small, #content .exchange form label, #content .exchange form input, #content .exchange p { display:inline-block; vertical-align:middle; }
#content .exchange form label { padding-right:6px; }
#content .exchange form input.text { width:60px; padding:2px 3px; border:1px solid #d9d9d9; color:#333; margin-right:2px; }
#content .exchange form input.default { color:#ccc; }
#content .exchange p { padding-left:2px; }
#content .exchange p a { color:#333333; font-weight:bold; text-decoration:underline; }
#content .exchange p a.dotted { text-decoration:none; background: url(../img/black_dotted.png) repeat-x left bottom; }
#content .exchange p .dotted:hover { background:none; }
#content .exchange p a:hover { text-decoration:none; }

/* search */

#content .search { float:right; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; margin-right:17px; position:relative; }
#content .search .corners { float:left; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5; margin:0 -1px; height:28px; overflow:visible; }
#content .search input.text {
	float:left;
	color:#333;
	background:#fff;
	border:0;
	width:270px;
	padding:6px 10px 6px;
	line-height:16px;
	height:16px;
	font-family:Tahoma, Geneva, sans-serif;
}
#content .search input.default { color:#ccc; }
#content .search input.submit {
	width:32px;
	height:32px;
	overflow:hidden;
	background: url(../img/search.png) no-repeat;
	border:0;
	top:-2px;
	margin-right:-16px;
	position:relative;
	cursor:pointer;
	opacity:0.9;
}
#content .search input.submit:hover { opacity:1; }

/* superposts */

#content .superposts { margin-top:20px; position:relative; }
#content .superposts .action { position:absolute; top:8px; margin-left:100%; left:-120px; }
#content .superposts .posts { width:100%; }
#content .superposts .posts li.post { margin-top:25px; }
#content .superposts .posts .post:first-child { margin-top:10px; }
#content .superposts .posts li li { margin-top:0; }
#content .superposts .posts li .head { overflow:hidden; padding-top:4px; width:100%; }
#content .superposts .posts li .meta { float:right; margin-top:-4px; }
#content .superposts .posts li .meta li { color:#999999; font-size:14px; line-height:16px; float:left; width:65px; text-align:right; }
#content .superposts .posts li .meta li span { display:block; padding-right:19px; }
#content .superposts .posts li .meta .coin { float:right; margin-top:-16px; }
#content .superposts .posts li .meta .comments { color:#999999; display:block; float:right; padding-right:21px; background:url(../img/comments.png) no-repeat right top; }
#content .superposts .posts li .meta .comments:hover { color:#333333; }
#content .superposts .posts li a.user img { width:30px; height:30px; padding:1px; border:1px solid #999999; float:left; margin-right:6px; margin-top:1px; }
#content .superposts .posts li a.user span { color:#666666; line-height:14px; }
#content .superposts .posts li a.user:hover span { color:#333; }
#content .superposts .posts li a.user:hover img { border-color:#333; }
#content .superposts .posts li .path { line-height:17px; margin-left:40px; }
#content .superposts .posts li .path ul { overflow:hidden; width:100%; }
#content .superposts .posts li .path li { margin-top:2px; position:relative; }
#content .superposts .posts li .path li.first {
	float:left;
	margin-right:3px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	margin-left:1px;
	background:url(../img/path_gradient.png) repeat-x left top;
	opacity:0.9;
	position:relative;
	z-index:1;
}
#content .superposts .posts li .path .first:hover { opacity:1; }
#content .superposts .posts li .path .first:hover a { text-decoration:none; }
#content .superposts .posts li .path li .corners { margin-left:-1px; border-left:1px solid #aad555; overflow:visible; float:left; }
#content .superposts .posts li .path li.first a { font-size:13px; color:#fff !important; padding-right:8px; line-height:17px; }
#content .superposts .posts li .path li i {
	display:block;
	width:5px;
	height:19px;
	position:absolute;
	top:-1px;
	margin-left:100%;
	left:-5px;
	background: url(../img/fade_arrow.png) no-repeat;
}
#content .superposts .posts li .path li a { display:block; padding-left:3px; font-size:14px; line-height:20px; font-weight:bold; }
#content .superposts .posts li .path li a:hover { text-decoration:underline; }
#content .superposts .posts li .path.green li.first { background-color:#aad555; border-color:#aad555; }
#content .superposts .posts li .path.green li.first .corners { border-color:#aad555; }
#content .superposts .posts li .path.green li a { color:#9acc35; }
#content .superposts .posts li .path.blue li.first { background-color:#7cded4; border-color:#7cded4; background-position:left -17px; }
#content .superposts .posts li .path.blue li.first .corners { border-color:#7cded4; }
#content .superposts .posts li .path.light_brown li.first { border-color:#ded97f; background-color:#ded97f; background-position:left -34px; }
#content .superposts .posts li .path.light_brown li.first .corners { border-color:#ded97f; }
#content .superposts .posts li .path.light_brown li a { color:#cdc53d; }
#content .superposts .posts h3 { font-size:20px; padding:4px 0; }
#content .superposts .posts h3 a { color:#333; }
#content .superposts .posts h3 a:hover { text-decoration:underline; }
#content .superposts .posts .text { width:100%; color:#333; }
#content .superposts .posts .text ul { margin:10px 10px; }
#content .superposts .posts .text li { list-style-type:disc; margin-left:15px; }
#content .superposts .posts .foot { width:100%; overflow:hidden; color:#999999; margin-top:10px; }
#content .superposts .posts .foot acronym { float:right; cursor:help; }
#content .superposts .posts .foot .tags { width:300px; float:left; overflow:hidden; }
#content .superposts .posts .foot .tags ul { float:left; height:14px; overflow:hidden; width:10000px; }
#content .superposts .posts .foot .tags li { float:left; margin-right:4px; }
#content .superposts .posts .foot .tags li a { color:#999999; }
#content .superposts .posts .foot .tags li a:hover { text-decoration:underline; }

/* minishop */

#content .minishop { margin-top:40px; }
#content .minishop .shop { width:100%; }
#content .minishop .shop li { margin-bottom:10px; }
#content .minishop .shop li a { display:block; width:100%; color:#666666; overflow:hidden; }
#content .minishop .shop li a .img { float:left; position:relative; width:60px; height:60px; padding:4px 2px; margin-right:7px; }
#content .minishop .shop li a .img img { width:60px; height:60px; overflow:hidden; }
#content .minishop .shop li a .img i { position:absolute; width:64px; height:68px; top:0; left:0; background: url(../img/gray_fade_corners.png) no-repeat; }
#content .minishop .shop li .coins { float:right; font-size:22px; width:80px; text-align:right; line-height:26px; color:#cccccc; }
#content .minishop .shop li .coins span { display:block; padding-right:19px; }
#content .minishop .shop li .coins b { float:right; margin-top:-22px; }
#content .minishop .shop li a:hover .coins { color:#333; }
#content .minishop .shop li h3 { width:300px; margin-left:71px; padding:4px 0; font-size:14px; font-weight:bold; color:#333333; }
#content .minishop .shop li a:hover h3 { text-decoration:underline; }
#content .minishop .shop li p { width:300px; margin-left:71px; }

/* poker */

#content .poker { margin-top:20px; position:relative; }
#content .poker dl.tabs { margin-top:-35px; }
#content .poker .bonus ul { width:100%; }
#content .poker .bonus li.room { border-top:1px solid #e1e1e1; padding:15px 0; }
#content .poker .bonus li:first-child, #content .poker .bonus li.first-child { border-top:0; }
#content .poker .bonus li h3 a { display:block; overflow:hidden; }
#content .poker .bonus li h3 img { float:left; width:40px; height:40px; overflow:hidden; position:relative; margin-top:3px; }
#content .poker .bonus li h3 b { font-size:24px; color:#333; display:block; margin-left:45px; }
#content .poker .bonus li h3 span { color:#999; display:block; margin-left:45px; }
#content .poker .bonus li .bonuses { display:none; }
#content .poker .bonus li.active .bonuses { display:block; }
#content .poker .bonus li .bonuses { width:100%; }
#content .poker .bonus li .bonuses li { margin-top:15px; overflow:hidden; width:100%; }
#content .poker .bonus li .bonuses li p span { display:block; color:#999999; }
#content .poker .bonus li .bonuses li p b { display:block; font-weight:normal; font-size:24px; color:#333333; }
#content .poker .bonus li .bonuses li p b i { font-style:normal; font-size:16px; line-height:18px; position:relative; top:-3px; }
#content .poker .bonus li .bonuses li p b i.gray { color:#999999; }
#content .poker .bonus li .bonuses li .coin { display:inline-block; }
#content .poker .bonus li .bonuses li .partnerscode { float:right; text-align:right; }
#content .poker .bonus li .bonuses li .startbonus { float:left; }
#content .poker .bonus li .bonuses li li { margin-top:0; line-height:24px; color:#666666; }
#content .poker .bonus li .bonuses li li span { display:block; font-size:16px; margin-top:-24px; }
#content .poker .bonus li .bonuses li li b { display:block; font-size:16px; font-weight:normal; text-align:right; }
#content .poker .bonus li .bonuses li li b i { font-size:24px; font-style:normal; }
#content .poker .bonus li .bonuses li li i .coin { display:inline-block; }
#content .poker .bonus li .bonuses li li.gray { color:#cccccc; }
#content .poker .bonus li .bonuses li li.here { color:#333; }
#content .poker .more { margin-top:10px; }

/* video */

#content .video { margin-top:30px; }
#content .video .tabs { margin-top:-35px; }