/* coin */

.coin { background-image: url(../img/coins_ie6.png); }

/* list */

#header .service li, #header .service .userbar li, #content .superposts .posts li .path li.first { vertical-align:top; zoom:1; }

/* png */

i.fade,
#header .service .arrow,
#header .navigation h1 a,
.corners .cn,
#content .search input.submit,
#content .superposts .posts li .path li i,
#content .minishop li a .img i { filter: expression(fixPNG(this)); }

/* float */

#content .exchange, #content .search { display:inline; }

/* user popup */

#header .service .userbar li.second ol { width:230px; }

/* exchange */

#content .exchange { line-height:28px; }
#content .exchange p, #content .exchange .coin.small, #content .exchange form input, #content .exchange form label { display:inline; }

/* search */

#content .search input.submit { margin-top:-2px; top:1px; }

/* superposts */

#content .superposts .posts li .main { margin-top:-15px; }