/* reset.css */

html { height:100%; color:#333333; background:#fff; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
table {	border-collapse: collapse; border-spacing: 0; }
fieldset, img {	border: 0; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: inherit;	font-weight: inherit; }
del, ins { text-decoration: none; }
li { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after {	content: ''; }
abbr, acronym {	border: 0; font-variant: normal; }
sup, sub { vertical-align: baseline; }
legend { color: #000; }
input, button, textarea, select, optgroup, option {	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
* { outline:0; }
a {	text-decoration:none; cursor:pointer; }

/* main.css */

body { font:12px Arial, Helvetica, sans-serif; background: url(../img/main_bg.jpg) no-repeat center top; padding-bottom:40px; }
#container { width:960px; margin:0 auto; }

/* corners */

.corners { position:relative; overflow:hidden; }
.corners .cn.tr, .corners .cn.br { margin-left:100%; }
.corners .cn.bl, .corners .cn.br { top:auto !important; }
.corners .cn { position:absolute; overflow:hidden; z-index:2; }
.corners.gray .cn {
	width:18px;
	height:18px;
	background:url(../img/gray_corners.png) no-repeat;
	top:-9px;
	left:-9px;
}
.corners.gray .cn.bl, .corners.gray .cn.br { margin-top:-9px; }
.corners.white .cn {
	width:2px;
	height:2px;
	background:#fff;
	top:-1px;
	left:-1px;
}
.corners.white .cn.bl, .corners.white .cn.br { margin-top:-1px; }
.corners.doubleWhite .cn {
	width:4px;
	height:4px;
	background: url(../img/corners_white_double.png) no-repeat;
	top:-2px;
	left:-2px;
}
.corners.doubleWhite .cn.bl, .corners.doubleWhite .cn.br { margin-top:-2px; }

/* coins */

.coin { overflow:hidden; display:block; background: url(../img/coins.png) no-repeat; }
.coin.small { width:16px; height:16px; }
.coin.big { width:32px; height:32px; }
.silver.small { background-position:-32px top !important; }
.silver.big { background-position:left top !important; }
.small.gold { background-position:-32px -16px !important; }
.close.small { background-position:-48px top; }

/* action */

.action { line-height:21px; position:absolute; }
.action .corners { overflow:visible; background:#999999; }
.action .corners .cn { z-index:6; }
.action .title.corners .cn.bl, .action .title.corners .cn.br { top:21px !important; }
.action.opened .title.corners .cn.bl, .action.opened .title.corners .cn.br { display:none; }
.action .title { overflow:hidden; height:20px; padding-bottom:1px; position:relative; z-index:6; }
/* .action.opened .title { background-image: url(../img/white_dotted.png); background-repeat:repeat-x; background-position:left bottom; } */
.action .title a { color:#fff; padding-left:6px; height:20px; padding-right:18px; display:block; float:left; }
.action .title a:hover { background-color:#7f7f7f; }
.action .arrow {
	width:22px;
	height:21px;
	text-indent:-999999px;
	padding:0 !important;
	overflow:hidden;
	float:right;
	background:#000;
	background: url(../img/action_arrow.png) no-repeat;
}
/* .action.opened .arrow { background-position :-1px top; border-left:1px solid #999999; !important; width:21px; } */
.action .actionPopup { position:absolute !important; display:none; z-index:5; top:21px; background:#999999; width:auto !important; }
.action:hover .actionPopup { display:block; }
.action.active .actionPopup { visibility:hidden; display:block !important; }
.action li { position:relative; z-index:5; }
.action li:hover { background:#7f7f7f; }
.action li:hover a { color:#fff; }
.action li a { display:block; padding-left:6px; padding-right:10px; color:#eeeeee; white-space:nowrap; height:21px; }

/* fade gradient */

i.fade {
	float:right;
	display:block;
	width:16px;
	height:20px;
	margin-top:-20px;
	background: url(../img/white_fade.png) repeat-y right top;
}

/* popup */

.popup.active ul, .popup:hover ul { display:block !important; }
#header .popup .clickarea { width:100%; height:40px; position:absolute; left:0; top:0; z-index:1; }

/* small user */

.smallUser { overflow:hidden; }
.smallUser a { display:block; color:#666666; float:left; white-space:nowrap; padding-left:24px; position:relative; }
.smallUser a:hover { color:#333; }
.smallUser a img {
	width:16px;
	height:16px;
	padding:1px;
	border:1px solid #999999;
	position:absolute;
	left:0;
	top:0;
}
.smallUser a:hover img { border-color:#333; }

/* header */

#header { width:100%; }

/* service */

/* service decor */

#header .service { width:100%; height:40px; background:#fff; position:relative; z-index:10; }
#header .service .cn {
	width:3px;
	height:3px;
	background: url(../img/corners_white_small.png) no-repeat;
	position:absolute;
	top:37px;
	left:0;
}
#header .service .cn.br { margin-left:100%; left:-3px; background-position:-3px top; }
#header .service .black_line {
	overflow:hidden;
	position:absolute;
	width:954px;
	top:40px;
	height:1px;
	background:#000;
	left:3px;
	opacity:0.1;
}
#header .service .arrow {
	float:right;
	height:6px;
	width:9px;
	display:block;
	background: url(../img/down_arrow.png) no-repeat;
	text-indent:-999999px;
	position:relative;
	overflow:hidden;
}

/* service igamecentral link */

#header .service .sign_up_link {
	display:block;
	line-height:40px;
	width:240px;
	text-indent:-999999px;
	background: url(../img/igamecentral.png) no-repeat 10px top;
}

/* service anounce */

#header .service .anounce {
	width:480px;
	line-height:40px;
	background:#fff2a7;
	color:#333333;
	position:absolute;
	left:240px;
	top:0;
	white-space:nowrap;
	z-index:1;
}
#header .service .anounce.active { height:40px; overflow:hidden; }
#header .service .anounce p { padding:0 30px 0 15px; overflow:hidden; height:40px; }
#header .service .anounce p a { color:#333333; position:relative; z-index:2; }
#header .service .anounce p a:hover { text-decoration:underline; }
#header .service .anounce .arrow { left:-16px; margin-top:-23px; }
#header .service .anounce ul { border:1px solid #e5e5e5; border-top:0; display:none; position:absolute; left:0; top:40px; width:478px; }
#header .service .anounce li { border-top:1px solid #fff; }
#header .service .anounce li a { display:block; padding:0 15px; color:#333; height:40px; }
#header .service .anounce li.yellow a:hover { background:#fee96e; }
#header .service .anounce li.red a { background:#ffc8a7; }
#header .service .anounce li.red a:hover { background:#ff9e63; }
#header .service .anounce li.gray a { background:#eeeeee; }
#header .service .anounce li.gray a:hover { background:#cccccc; }

/* service userbar */

#header .service .userbar {
	position:absolute;
	width:228px;
	top:0;
	left:-240px;
	padding-left:12px;
	margin-left:100%;
	z-index:1;
	height:40px;
}
#header .service .userbar .smallUser { width:110px; margin-top:10px; float:left; }
#header .service .userbar .smallUser a { font-weight:bold; font-size:14px; line-height:20px; z-index:2; }
#header .service .userbar .coins {
	padding:10px 0 0 10px;
	font-size:16px;
	color:#666666;
	display:block;
	float:left;
	width:108px;
	height:30px;
}
#header .service .userbar .coins b { line-height:18px; float:left; }
#header .service .userbar .coins i {
	float:left;
	margin-left:3px;
	font-style:normal;
	font-weight:normal;
	color:#999999;
	font-size:14px;
	line-height:24px;
}
#header .service .userbar .coins .coin { float:left; margin-left:4px; }
#header .service .userbar .arrow { left:-14px; top:-23px; }
#header .service .userbar ul {
	display:none;
	position:absolute;
	width:230px;
	border:1px solid #e5e5e5;
	top:40px;
	left:0;
	background:#fff;
	border-top:0;
}
#header .service .userbar li { padding:6px 0 5px; background: url(../img/gray_sep.png) no-repeat center top; }
#header .service .userbar li a {
	color:#414141;
	display:block;
	white-space:nowrap;
	height:22px;
	line-height:22px;
	padding:0 10px;
}
#header .service .userbar li a.gray { color:#999999 !important; }
#header .service .userbar li a:hover { color:#fff !important; background:#414141; margin:0 -1px; padding:0 11px; }
#header .service .userbar li.first a { overflow:hidden; }
#header .service .userbar li.first a i { float:left; font-style:normal; }
#header .service .userbar li.first a b { font-size:10px; float:right; }
#header .service .userbar li.second ol { overflow:hidden; margin:0 -1px; }
#header .service .userbar li.second ol li { width:50%; float:left; padding:0; background:none; }
#header .service .userbar li.third a { color:#333333; }

/* logo + menu */

#header .navigation { overflow:hidden; }
#header .navigation h1 { width:300px; padding-left:10px; height:120px; float:left; opacity:0.9; }
#header .navigation h1:hover { opacity:1; }
#header .navigation h1 a { display:block; text-indent:-999999px; height:100%; background: url(../img/logo.png) no-repeat; }
#header .navigation .menu { float:left; margin-left:20px; margin-top:33px; }
#header .navigation .menu ul { overflow:hidden; width:100%; }
#header .navigation .menu .first li { float:left; margin-right:20px; }
#header .navigation .menu .first li a { color:#fff; font-weight:bold; font-size:20px; }
#header .navigation .menu .first li a:hover { color:#cccccc; }
#header .navigation .menu .second { margin-top:5px; }
#header .navigation .menu .second li { float:left; margin-right:15px; }
#header .navigation .menu .second li a {
	color:#333333;
	font-weight:bold;
	font-size:14px;
	display:block;
}
#header .navigation .menu .second li a:hover { text-decoration:underline; }
#header .navigation .menu .second li.red a { color:#cc0000; text-decoration:none !important; }
#header .navigation .menu .second li.red a:hover { background: url(../img/red_dotted.png) repeat-x left bottom; }

/* benner slider */

#bannerSlider { padding:0 5px; }
#bannerSlider .corners { width:100%; }
#bannerSlider .corners .main { padding:5px; background:#ededed; height:150px; }
#bannerSlider .corners .main .slider { width:100%; position:relative; height:100%; overflow:hidden; background:#000; }
#bannerSlider .corners .main ul { width:100000px; height:100%; }
#bannerSlider .corners .main ul.active { visibility:hidden; }
#bannerSlider .corners .main li { float:left; display:block; height:150px; }
#bannerSlider .corners .main li a { display:block; float:left; }
#bannerSlider .corners .main li img { float:left; }
#bannerSlider .corners .main li b {
	float:left;
	display:block;
	position:relative;
	margin-left:-1px;
	width:1px;
	height:150px;
	background:#fff;
	opacity:0.5;
}

/* content */

#content { padding:0 10px; margin-top:19px; }
.wrapper { width:100%; padding:1px 0; overflow:hidden; }
.wrapper.top, .wrapper.bottom { padding-bottom:20px; position:relative; }
.wrapper.bottom { padding-top:20px; }
#content .wrapper.blogoconference { position:relative; overflow:visible; }
#content .wrapper.half .left { clear:left; float:left; width:460px; }
#content .wrapper.half .right { clear:right; float:right; width:460px; }
#content h2 { font-size:36px; color:#333333; line-height:44px; }
#content h2.small { font-size:30px; }
.more { width:100%; font-style:italic; font-size:14px; margin-top:20px; overflow:hidden; }
.more li { float:right; margin-left:15px; }
.more li a { color:#333333; }
.more li a:hover { text-decoration:underline; }
.more li.leftMore { float:left; margin:0; }
.more li.leftMore { color:#999999; }

/* tabs */

.tabs { width:100%; overflow:hidden; }
.tabs dd.contentTab { display:none; }
.tabs dd.contentTab.active { display:block; }

/* vertical */

.tabs.vertical dt.titleTab { border-bottom:1px solid #d9d9d9; padding:0 4px; }
.tabs.vertical.rightTabs dt.titleTab { float:right; }
.tabs.vertical.leftTabs dt.titleTab { float:left; }
.tabs.vertical dt.titleTab .corners { border-top:1px solid #fff; position:relative; top:1px; overflow:visible; }
.tabs.vertical dt.titleTab .corners .cn { display:none; }
.tabs.vertical dt.titleTab a { display:block; padding:7px 7px 6px; border-bottom:1px solid #d9d9d9; font-size:14px; font-weight:bold; color:#999999; margin:0 -1px; }
.tabs.vertical dt.titleTab.active .corners { border-color:#d9d9d9; }
.tabs.vertical dt.titleTab.active a {
	border-left:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
	border-bottom:1px solid #fff;
	padding:7px 6px 6px;
	color:#333 !important;
}
.tabs.vertical dt.titleTab a:hover { color:#666; }
.tabs.vertical dt.titleTab.active .corners .cn { display:block; }
.tabs.vertical dd.contentTab { width:100%; margin-top:35px; }
.tabs.vertical.rightTabs dd.contentTab { float:left; margin-right:-100%; }
.tabs.vertical.leftTabs dd.contentTab { float:right; margin-left:-100%; }

/* horizontal */

.tabs.horizontal { position:relative; width:100%; padding-left:10px; margin-left:-10px; }
.tabs.horizontal ul.titles { width:240px; float:left; margin-top:4px; }
.tabs.horizontal ul.contents { width:700px; float:right; }
.tabs.horizontal .contents li.content { display:none; }
.tabs.horizontal .contents li.content.active { display:block; }
.tabs.horizontal .contents li.content .post:first-child { margin-top:0; }
.tabs.horizontal .titles li { clear:left; width:240px; margin-left:-10px; float:left; padding-bottom:4px; }
.tabs.horizontal .titles li .title {
	width:215px;
	height:26px;
	padding:1px 0 1px 1px;
	background: url(../img/path_gradient.png) repeat-x left -19px;
	margin-left:10px;
	opacity:0.25;
	position:relative;
	z-index:1;
}
.tabs.horizontal .titles li .title:hover { opacity:0.5; }
.tabs.horizontal .titles li.active .title { width:239px; height:37px; margin-left:0; opacity:1; background-position:left -47px; }
.tabs.horizontal .titles li .title .corners { height:26px; overflow:visible; }
.tabs.horizontal .titles li .title .corners .cn { left:-2px; top:-2px; }
.tabs.horizontal .titles li .title .corners .cn.bl { margin-top:0; }
.tabs.horizontal .titles li.active .title .corners { height:37px; }
.tabs.horizontal .titles li .title .corners a { display:block; height:26px; }
.tabs.horizontal .titles li.active .title .corners a { height:37px; }
.tabs.horizontal .titles li .title .corners a b { display:block; line-height:26px; color:#fff; font-weight:normal; font-size:18px; padding-left:10px; }
.tabs.horizontal .titles li.active .title .corners a b { line-height:22px; }
.tabs.horizontal .titles li .title .corners a b q { font-size:11px; line-height:26px; float:right; padding-right:15px; }
.tabs.horizontal .titles li.active .title .corners a b q { padding-right:18px; }
.tabs.horizontal .titles li .title .corners a span { display:none; font-size:11px; color:#eeeeee; padding-left:10px; }
.tabs.horizontal .titles li.active .title .corners a span { display:block; }
.tabs.horizontal .titles li .title .corners i { position:absolute; top:-1px; width:7px; height:28px; margin-left:100%; left:-7px; background: url(../img/fade_arrow.png) no-repeat right -19px; }
.tabs.horizontal .titles li.active .title .corners i { height:39px; left:-10px; background-position:left -75px; width:10px; }
.tabs.horizontal .titles li ul { display:none; width:220px; margin-left:10px; padding-bottom:10px; }
.tabs.horizontal .titles li.active ul { display:block; position:relative; }
.tabs.horizontal .titles li li { margin-top:6px; width:auto; float:none; margin-left:15px !important; list-style-type:disc !important; padding-bottom:0; }
.tabs.horizontal .titles li li a { font-size:14px; font-weight:bold; }
.tabs.horizontal .titles li li a:hover { text-decoration:underline; }
.tabs.horizontal .titles li.yellow .title { background-color:#efac01; }
.tabs.horizontal .titles li.yellow li a, .tabs.horizontal li.yellow li { color:#efac01; }
.tabs.horizontal .titles li.dark_green .title { background-color:#687f55; }
.tabs.horizontal .titles li.dark_green li a, .tabs.horizontal li.dark_green li { color:#687f55; }
.tabs.horizontal .titles li.orange .title { background-color:#ef6f01; }
.tabs.horizontal .titles li.orange li a, .tabs.horizontal li.orange li { color:#ef6f01; }
.tabs.horizontal .titles li.dark_brown .title { background-color:#351b01; }
.tabs.horizontal .titles li.dark_brown li a, .tabs.horizontal li.dark_brown li { color:#351b01; }
.tabs.horizontal .titles li.blue .title { background-color:#017ba2; }
.tabs.horizontal .titles li.blue li a, .tabs.horizontal li.blue li { color:#017ba2; }
.tabs.horizontal .titles li.lightest_brown .title { background-color:#bb8c39; }
.tabs.horizontal .titles li.lightest_brown li a, .tabs.horizontal li.lightest_brown li { color:#bb8c39; }
.tabs.horizontal .titles li.lighter_brown .title { background-color:#ae7101; }
.tabs.horizontal .titles li.lighter_brown li a, .tabs.horizontal li.lighter_brown li { color:#ae7101; }
.tabs.horizontal .titles li.light_brown .title { background-color:#7b5001; }
.tabs.horizontal .titles li.light_brown li a, .tabs.horizontal li.light_brown li { color:#7b5001; }
.tabs.horizontal .titles li.light_red .title { background-color:#b15236; }
.tabs.horizontal .titles li.light_red li a, .tabs.horizontal li.light_red li { color:#b15236; }
.tabs.horizontal .titles li.dark_red .title { background-color:#701a01; }
.tabs.horizontal .titles li.dark_red li a, .tabs.horizontal li.dark_red li { color:#701a01; }
.tabs.horizontal .titles li.pink .title { background-color:#b1364f; }
.tabs.horizontal .titles li.pink li a, .tabs.horizontal li.pink li { color:#b1364f; }
.tabs.horizontal .titles li.green .title { background-color:#92a201; }
.tabs.horizontal .titles li.green li a, .tabs.horizontal li.green li { color:#92a201; }
.tabs.horizontal .titles li.gray .title { background-color:#676767; }
.tabs.horizontal .titles li.gray li a, .tabs.horizontal li.gray li { color:#676767; }
.tabs.horizontal .titles li.white .title { background:#bfbfbf; opacity:0.5; }
.tabs.horizontal .titles li.white .title .corners { background:#fff; }
.tabs.horizontal .titles li.white .title:hover { opacity:0.75; }
.tabs.horizontal .titles li.white.active .title { opacity:1; }
.tabs.horizontal .titles li.white li a, .tabs.horizontal li.white li { color:#bfbfbf; }
.tabs.horizontal .titles li.white .title .corners i { background-position:right -47px; }
.tabs.horizontal .titles li.white.active .title .corners i { background-position:left -114px; }
.tabs.horizontal .titles li.white .title .corners a b { color:#bfbfbf; }
.tabs.horizontal .titles li.white .title .corners a span { color:#AFAFAF; }

.tabs.horizontal dd { width:700px; padding-left:240px; }

/* path */

.path ul, ul.path { overflow:hidden; width:100%; line-height:17px; }
.path li { margin-top:2px !important; position:relative; }
.path li.first {
	float:left;
	margin-right:3px;
	opacity:0.9;
	position:relative;
	z-index:1;
	height:17px;
	background:url(../img/path_gradient.png) repeat-x left top;
	padding:1px 0 1px 1px;
}
.path .first:hover { opacity:1; }
.path li .corners { overflow:visible; float:left; }
.path li .corners .cn { top:-2px; left:-2px; }
.path li .corners .cn.bl { margin-top:0; }
.path li.first a { font-size:13px; color:#fff !important; padding-right:8px; line-height:17px; text-decoration:none !important; position:static; }
.path li i {
	display:block;
	width:5px;
	height:19px;
	position:absolute;
	top:-1px;
	margin-left:100%;
	left:-5px;
	background: url(../img/fade_arrow.png) no-repeat right top;
}
.path li a { display:block; padding-left:3px; font-size:14px; line-height:19px; font-weight:bold; }
.path li a:hover { text-decoration:underline; }
.path.green li.first { background-color:#9acc35; }
.path.green li a { color:#9acc35; }
.path.blue li.first { background-color:#37ccbe; }
.path.blue li a { color:#37ccbe; }
.path.light_brown li.first { background-color:#cdc53d; }
.path.light_brown li a { color:#cdc53d; }
.path.orange li.first { background-color:#efad03; }
.path.orange li a { color:#efad03; }

/* meta */

.meta { float:right; }
.meta li { color:#999999; font-size:14px; line-height:16px; float:left; width:65px; text-align:right; margin:0 !important; }
.meta li span { display:block; padding-right:19px; }
.meta .coin { float:right; margin-top:-16px; }
.meta .comments { color:#999999; display:block; float:right; padding-right:21px; background:url(../img/comments.png) no-repeat right top; }
.meta .comments i { color:#333333; font-style:normal; }
.meta .comments:hover { color:#333333; }

/* posts */

.posts { width:100%; }
.posts li.post { margin-top:15px; }
.posts .post:first-child { margin-top:10px; }
.posts li li { margin-top:0; }
.posts li .head { overflow:hidden; padding-top:4px; width:100%; }
.posts li .meta { margin-top:-4px; }
.posts li a.user img { width:30px; height:30px; padding:1px; border:1px solid #999999; float:left; margin-right:6px; margin-top:1px; }
.posts li a.user span { color:#666666; line-height:14px; }
.posts li a.user:hover span { color:#333; }
.posts li a.user:hover img { border-color:#333; }
.posts li .path { line-height:17px; margin-left:40px; }
.posts h3 { font-size:20px; padding:4px 0; }
.posts h3 img { float:left; margin:4px 6px 0 3px; }
.posts h3 a { color:#333; }
.posts h3 a:hover { text-decoration:underline; }
.posts .text { width:100%; color:#333; }
.posts .text ul { margin:10px 10px; }
.posts .text li { list-style-type:disc; margin-left:15px; }
.posts .foot { width:100%; overflow:hidden; color:#999999; margin-top:5px; }
.posts .foot acronym { float:right; cursor:help; }
.posts .foot .tags { width:280px; float:left; overflow:hidden; }
.posts .foot .tags ul { float:left; height:14px; overflow:hidden; width:10000px; }
.posts .foot .tags li { float:left; margin-right:4px; }
.posts .foot .tags li a { color:#999999; }
.posts .foot .tags li a:hover { text-decoration:underline; }

/* shop */

.shop { width:100%; }
.shop li { margin-bottom:10px; }
.shop li a { display:block; width:100%; color:#666666; overflow:hidden; }
.shop li a .img { float:left; position:relative; width:60px; height:60px; padding:4px 2px; margin-right:7px; }
.shop li a .img img { width:60px; height:60px; overflow:hidden; }
.shop li a .img i { position:absolute; width:64px; height:68px; top:0; left:0; background: url(../img/gray_fade_corners.png) no-repeat; }
.shop li .coins { float:right; font-size:22px; width:80px; text-align:right; line-height:26px; color:#cccccc; }
.shop li .coins span { display:block; padding-right:19px; }
.shop li .coins b { float:right; margin-top:-22px; }
.shop li a:hover .coins { color:#333; }
.shop li h3 { width:300px; margin-left:71px; padding:4px 0; font-size:14px; font-weight:bold; color:#333333; }
.shop li a:hover h3 { text-decoration:underline; }
.shop li p { width:300px; margin-left:71px; }

/* pages */

.pages { width:100%; border-top:1px solid #e5e5e5; }
.pages li { float:left; margin-top:-1px; border-bottom:1px solid #fff; cursor:pointer; }
.pages li.active { border-color:#e5e5e5; }
.pages li a { display:block; color:#999999; font-size:16px; padding:5px 10px; font-weight:bold; margin:0 -1px; }
.pages li.active a { padding:4px 7px; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5; border-top:1px solid #fff; color:#ccc !important; }
.pages li:hover a { color:#333; }
.pagesContents { width:700px; position:relative; overflow:hidden; }
.pagesContents ul.pagesList { width:100000px; overflow:hidden; }
.pagesContents.seven li.pageContent { width:700px; float:left; }

/* exchange */

#content .exchange { border-top:1px solid #f2f2f2; border-bottom:1px solid #f2f2f2; float:left; line-height:26px; margin-left:9px; float:left; }
#content .exchange .corners { background:#f2f2f2; margin:0 -1px; padding:0 8px; overflow:visible; height:28px; float:left; }
#content .exchange .coin.big { float:left; margin-top:-2px; margin-left:-16px; margin-right:7px; position:relative; }
#content .exchange form { overflow:hidden; float:left; height:28px; color:#999999; }
#content .exchange .coin.small, #content .exchange form label, #content .exchange form input, #content .exchange p { display:inline-block; vertical-align:middle; }
#content .exchange form label { padding-right:6px; }
#content .exchange form input.text { width:60px; padding:2px 3px; border:1px solid #d9d9d9; color:#333; margin-right:2px; }
#content .exchange form input.default { color:#ccc; }
#content .exchange p { padding-left:2px; }
#content .exchange p a { color:#333333; font-weight:bold; text-decoration:underline; }
#content .exchange p a.dotted { text-decoration:none; background: url(../img/black_dotted.png) repeat-x left bottom; }
#content .exchange p .dotted:hover { background:none; }
#content .exchange p a:hover { text-decoration:none; }

/* search */

#content .search { float:right; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; margin-right:17px; position:relative; }
#content .search .corners { float:left; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5; margin:0 -1px; height:28px; overflow:visible; }
#content .search input.text {
	float:left;
	color:#333;
	background:#fff;
	border:0;
	width:270px;
	padding:6px 10px 6px;
	line-height:16px;
	height:16px;
	font-family:Tahoma, Geneva, sans-serif;
}
#content .search input.default { color:#ccc; }
#content .search input.submit {
	width:32px;
	height:32px;
	overflow:hidden;
	background: url(../img/search.png) no-repeat;
	border:0;
	top:-2px;
	margin-right:-16px;
	position:relative;
	cursor:pointer;
	opacity:0.9;
}
#content .search input.submit:hover { opacity:1; }

/* superposts */

#content .superposts { margin-top:20px; position:relative; z-index:5; }
#content .superposts .action { position:absolute; top:16px; right:0; }

/* minishop */

#content .minishop { margin-top:40px; }

/* poker */

#content .poker { margin-top:20px; position:relative; }
#content .poker dl.tabs { margin-top:-35px; }
#content .poker .bonus ul { width:100%; }
#content .poker .bonus li.room { border-top:1px solid #e1e1e1; padding:15px 0; }
#content .poker .bonus li:first-child, #content .poker .bonus li.first-child { border-top:0; }
#content .poker .bonus li h3 a { display:block; overflow:hidden; }
#content .poker .bonus li h3 img { float:left; width:40px; height:40px; overflow:hidden; position:relative; margin-top:3px; }
#content .poker .bonus li h3 b { font-size:24px; color:#333; display:block; margin-left:45px; }
#content .poker .bonus li h3 span { color:#999; display:block; margin-left:45px; }
#content .poker .bonus li .bonuses { display:none; }
#content .poker .bonus ul.active li.room:hover .bonuses { display:none; }
#content .poker .bonus li.active .bonuses, #content .poker .bonus li.room:hover .bonuses, #content .poker .bonus ul.active .room.active:hover .bonuses { display:block; }
#content .poker .bonus li .bonuses { width:100%; }
#content .poker .bonus li .bonuses li { margin-top:15px; overflow:hidden; width:100%; }
#content .poker .bonus li .bonuses li p span { display:block; color:#999999; }
#content .poker .bonus li .bonuses li p b { display:block; font-weight:normal; font-size:24px; color:#333333; }
#content .poker .bonus li .bonuses li p b i { font-style:normal; font-size:16px; line-height:18px; position:relative; top:-3px; }
#content .poker .bonus li .bonuses li p b i.gray { color:#999999; }
#content .poker .bonus li .bonuses li .coin { display:inline-block; }
#content .poker .bonus li .bonuses li .partnerscode { float:right; text-align:right; }
#content .poker .bonus li .bonuses li .startbonus { float:left; }
#content .poker .bonus li .bonuses li li { margin-top:0; line-height:24px; color:#666666; }
#content .poker .bonus li .bonuses li li span { display:block; font-size:16px; margin-top:-24px; }
#content .poker .bonus li .bonuses li li b { display:block; font-size:16px; font-weight:normal; text-align:right; }
#content .poker .bonus li .bonuses li li b i { font-size:24px; font-style:normal; }
#content .poker .bonus li .bonuses li li i .coin { display:inline-block; }
#content .poker .bonus li .bonuses li li.gray { color:#cccccc; }
#content .poker .bonus li .bonuses li li.here { color:#333; }
#content .poker .more { margin-top:10px; }

/* video */

#content .video { margin-top:30px; }
#content .video .tabs { margin-top:-35px; }

/* blogoconference */

#content .blogoconference .up {
	position:absolute;
	width:17px;
	height:38px;
	overflow:hidden;
	background: url(../img/up.png) no-repeat right -17px;
	top:24px;
	left:-25px;
}
#content .blogoconference .up a {
	display:block;
	position:absolute;
	width:16px;
	height:17px;
	left:0;
	top:11px;
	background: url(../img/up.png) no-repeat left top;
}
#content .blogoconference .up a:hover { top:10px; }
#content .blogoconference .action { position:absolute; right:0; top:16px; }
#content .blogoconference .tabs { margin-top:10px; }
#content .blogoconference .pages { margin-top:20px; }

/* footer */

#footer { clear:both; overflow:hidden; padding:0 10px; border-bottom:1px solid #eaeaea; margin-top:20px; }
#footer .end { color:#999999; font-size:13px; font-style:italic; width:208px; float:left; }
#footer .menu { width:700px; float:right; }
#footer .menu ul { width:100%; overflow:hidden; }
#footer .menu li { float:left; }
#footer .menu .first li { margin-right:25px; }
#footer .menu .first li a { font-size:18px; color:#666666; }
#footer .menu li a:hover { text-decoration:underline; }
#footer .menu .second { margin-top:7px; }
#footer .menu .second li { margin-right:15px; }
#footer .menu .second li.red a { color:#c72424; }
#footer .menu .second li.red a:hover { text-decoration:none; background: url(../img/red_dotted.png) repeat-x left bottom; }
#footer .menu .second li a { color:#999; }
#footer .wrapper.top { padding-bottom:18px; }
#footer .copyright { float:left; color:#999999; }
#footer .links { width:310px; float:left; clear:left; margin-top:10px; }
#footer .links li.left { width:160px; float:left; }
#footer .links li.left { width:150px; }
#footer .links li a { font-size:11px; color:#666666; line-height:16px; }
#footer .links li a:hover { text-decoration:underline; }
#footer .robots { width:545px; padding-left:75px; float:right; margin-right:1px; height:66px; }
#footer .robots .keywords { border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; position:relative; }
#footer .robots .keywords .bender { width:71px; height:66px; background: url(../img/bender.png) no-repeat; position:absolute; top:0; left:-71px; z-index:1; }
#footer .robots .keywords .corners { border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9; margin:0 -1px; background:#f2f2f2; padding:10px 12px; }
#footer .robots .keywords p { color:#aaaaaa; padding-bottom:3px; }
#footer .robots .keywords .words { width:100%; overflow:hidden; }
#footer .robots .keywords .words ul { width:10000px; }
#footer .robots .keywords .words li { float:left; margin-right:4px; font-size:13px; font-weight:bold; color:#666666; }
#footer .fade { background-image: url(../img/gray_fade.png); }

/* avatar */

.avatar { display:block; overflow:hidden; }
.avatar img { float:left; width:50px; height:50px; padding:1px; border:1px solid #999999; margin-right:7px; }
.avatar b { font-size:16px; color:#333333; font-weight:normal; line-height:21px; }
.avatar span { display:block; color:#999999; line-height:16px; }

/* user page */

#content .wrapper.user { position:relative; overflow:visible; }
#content .wrapper.user .action { position:absolute; right:0; top:3px; }

/* about user */

#content .aboutUser  p.more { color:#999999; line-height:42px; font-style:italic; }
#content .aboutUser  p.more span { color:#666666; }
#content .aboutUser  p.more a { color:#333; }
#content .aboutUser  a:hover { text-decoration:underline; }
#content .aboutUser .avatar { margin-top:10px; }
#content .aboutUser .coins { float:right; width:140px; color:#999999; font-size:20px; margin-top:13px; line-height:22px; }
#content .aboutUser .coins span { display:block; text-align:right; padding-right:20px; }
#content .aboutUser .coins .coin { float:right; margin-left:4px; margin-top:-20px; }
#content .aboutUser .rating { float:right; margin-top:10px; width:160px; position:relative; }
#content .aboutUser .rating span { display:block; text-align:right; line-height:20px; color:#999999; }
#content .aboutUser .rating .corners { position:absolute; top:20px; right:0; clear:right; float:right; text-align:right; white-space:nowrap; }
#content .aboutUser .rating p { padding:0 4px; line-height:18px; color:#fff; }
#content .aboutUser .rating p.yellow { background:#f1cd00; }
#content .aboutUser .userInfo { padding:0 5px; }
#content .aboutUser .userInfo dl { width:100%; overflow:hidden; padding-bottom:12px; line-height:18px; }
#content .aboutUser .userInfo dt { width:160px; float:left; clear:left; font-size:14px; color:#999999; font-weight:bold; }
#content .aboutUser .userInfo dd { width:275px; float:right; clear:right; color:#333; }
#content .aboutUser .userInfo dd li { color:#999999; }
#content .aboutUser .userInfo dd li a, #content .aboutUser .userInfo dd li span { color:#333; }
#content .aboutUser .userInfo .doubleWhite .main { padding:10px 12px; background:#666666; color:#cccccc; font-size:14px; }
#content .aboutUser .userInfo .doubleWhite .main p { line-height:20px; }
#content .aboutUser .userInfo .doubleWhite span { color:#fff; }
#content .aboutUser .userInfo .doubleWhite b.coin { display:inline-block; vertical-align:top; position:relative; top:1px; }
#content .aboutUser .userInfo .doubleWhite ul { width:100%; overflow:hidden; margin-top:4px; }
#content .aboutUser .userInfo .doubleWhite li { width:45%; float:left; padding-left:14px; background: url(../img/white_square.png) no-repeat 4px 5px; color:#fff; font-size:12px; }
#content .aboutUser .userInfo .doubleWhite li a { color:#fff; font-style:italic; }

/* buble */

.buble { position:relative; padding:13px 5px 0; }
.buble .arrow { position:absolute; height:11px; width:22px; background: url(../img/buble.png) no-repeat; left:15px; top:2px; }
.buble p { padding:11px; color:#666666; background:#f1f1f1; font-style:italic; }