#container { height:100%; width: expression(document.documentElement.offsetWidth < (992/12) * parseInt(document.documentElement.currentStyle.fontSize) ? "62em" : "auto"); /* Эмуляция em-based min-width для IE6 */ }
#footer { width: expression(document.documentElement.offsetWidth < (992/12) * parseInt(document.documentElement.currentStyle.fontSize) ? "62em" : "auto"); /* Эмуляция em-based min-width для IE6 */ }
#header .top div { overflow:hidden; }
#header .bottom .slider a.arrows img.ie-fix { display:none; }
#header .bottom .slider a.arrows img.ie { display:block; }
#content .left ul.nav li { zoom:1; vertical-align:bottom; }
