/* reset.css */

html { height:100%; color:#000; background:#fff; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
table {	border-collapse: collapse; border-spacing: 0; }
fieldset, img {	border: 0; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: inherit;	font-weight: inherit; }
del, ins { text-decoration: none; }
li { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after {	content: ''; }
abbr, acronym {	border: 0; font-variant: normal; }
sup, sub { vertical-align: baseline; }
legend { color: #000; }
input, button, textarea, select, optgroup, option {	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
* { outline:0; }
a {	text-decoration:none; cursor:pointer; }

/* main.css */

body {
	font:100% Tahoma, Geneva, sans-serif;
	width:100%;
	height:100%;
}
#container {
	width:100%;
	min-height:100%;
	min-width:62em;
}
#header {
	width:100%;
	height:12em;
	overflow:hidden;
}
#header .top { width:100%; height:4.75em; background: #282839 url(../img/header_bg_top.png) repeat-y right top; }
#header h1 {
	float:left;
	width:18em;
	height:4.75em;
	overflow:hidden;
	background:#65688B;
}
#header h1 a, #header h1 img { display:block; width:18em; height:4.75em; }
#header p.number {
	margin:1em 1.5em 0 0;
	float:right;
	display:inline;
	width:6em;
	height:1.25em;
	overflow:hidden;
}
#header p.number img { width:6em; height:1.25em; }
#header p.address {
	color:#989797;
	font-weight:bold;
	font-size:68.75%;
	text-align:right;
	clear:right;
	margin-right:2.2em;
	line-height:2em;
}
#header .top div {
	margin:0 1.4em 0 18em;
	height:1em;
	background: #313132 url(../img/header_nav_bg.png) repeat-x left center;
	padding-left:7em;
}
#header .top div ul { height:1em; background: url(../img/header_nav_bg_hover.png) no-repeat right center;}
#header .top div li { height:1em; float:left; position:relative; white-space:nowrap; }
#header .top div li a {
	font-size:68.75%;
	color:#fff;
	line-height:1.45em;
	display:block;
	font-weight:bold;
	padding:1px 1.5em;
	height:100%;
	position:relative;
	top:-1px;
	float:left;
}
#header .top div li a:hover {
	color:#f33818;
	background:#474748 url(../img/header_nav_bg_hover.png) repeat-x left center;
	padding:0 1.5em;
	border-top:1px solid #535373;
	border-bottom:1px solid #535373;
}
#header .bottom { width:100%; height:7.25em; position:relative; clear:both; background: #0045a3 url(../img/header_bottom_bg.jpg) repeat-y right top; }
#header .bottom .bg { width:100%; height:7.25em; background: url(../img/header_bottom_line.png) no-repeat right top; }
#header .bottom img.decor {
	position:absolute;
	height:7.25em;
	width:52em;
	top:0;
	left:0;
}
#header .bottom img.basket {
	position:absolute;
	height:2em;
	width:1.75em;
	top:1.1em;
	left:1.5em;
}
#header .bottom div.basket {
	position:relative;
	margin:1.1em 0 0 4em;
	float:left;
	display:inline;
}
#header .bottom div.basket p { font-size:68.75%; color:#d5d5d5; }
#header .bottom div.basket b { font-weight:bold; color:#fff; }
#header .bottom div.basket a { font-size:68.75%; color:#e2e1dd; text-decoration:underline; }
#header .bottom div.basket a:hover { text-decoration:none; }
#header .bottom #search {
	clear:left;
	float:left;
	position:relative;
	display:inline;
	margin:1.2em 0 0 3.5em;
}
#header .bottom #search #search-text {
	width:12em;
	font-size:68.75%;
	color:#6a86a8;
	padding-left:1em;
	border:1px solid #e2e2e4;
	font-weight:bold;
	padding-top:0.1em;
	height:1.35em;
	float:left;
}
#header .bottom #search #search-submit {
	width:1em;
	height:1em;
	margin-left:0.7em;
}
#header .bottom .slider {
	position:absolute;
	height:7.25em;
	top:0;
	left:15em;
}
#header .bottom .slider a.arrows { width:1em; height:2em; margin-top:2.7em; display:none; float:left; }
#header .bottom .slider .arrows.active { display:block; }
#header .bottom .slider a.left { margin-right:0.3em; }
#header .bottom .slider a.right { margin-left:0.3em; }
#header .bottom .slider a.arrows img { width:1em; height:2em; }
#header .bottom .slider a.arrows img.ie { display:none; }
#header .bottom #sliderBox {
	float:left;
	position:relative;
	width:42.75em;
	height:5.75em;
	margin-top:0.8em;
	overflow:hidden;
}
#header .bottom #sliderBox ul { width:130.5em; overflow:hidden; }
#header .bottom #sliderBox li { width:14.3em; float:left; }
#header .bottom #sliderBox li img { height:5.6em; border:1px solid #a2a3a4; width:14em; }
#content { width:100%; position:relative; overflow:hidden; }
#content .g_bottom { width:16.5em; height:9.5em; position:absolute; top:0; left:0; }
#content .wrapper { width:100%; margin-left:-15.75em; float:right; position:relative; }
#content .wrapper .right { margin-left:15.75em; }
#content .right .letter-list {
	width:100%;
	padding:0.75em 0;
	background-color:#f1f1f1;
	border-bottom:3px solid #d8d8d8;
	position:relative;
	text-align:center;
}
#content .right .letter-list li {
	margin-left:-4px;
	display:inline-block;
	background: url(../img/letter_sep.png) no-repeat right center;
	padding:0 5px 0 3px;
}
#content .right .letter-list li.last { background:none; }
#content .right .letter-list li.digit { padding-right:0.4em; background:none; }
#content .right .letter-list li.digit a { color:#e56918; }
#content .right .letter-list li.current a { background-color:#8f8f8f; color:#fff; }
#content .right .letter-list li a {
	font:68.75%/1.6em Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#1565bd;
	text-transform:uppercase;
	padding:1px 2px;
	float:left;
}
#content .right .head-tree { overflow:hidden; width:100%; }
#content .right .head-tree ul { margin-left:2.4em; }
#content .right .head-tree li {
	float:left;
	padding-left:0.3em;
	padding-right:1.5em;
	background: url(../img/double_arrow.png) no-repeat right center;
}
#content .right .head-tree li.last { background:none; }
#content .right .head-tree li.last a { color:#fd3d00; }
#content .right .head-tree li a {
	font:81.25%/4.3em Tahoma, Geneva, sans-serif;
	color:#7a7a7a;
	font-weight:bold;
	display:block;
}
#content .right .text {
	color:#58595a;
	font:68.75% Tahoma, Geneva, sans-serif;
	padding:0 3.5em;
}
#content .right .articles { margin:2em 1em 1em; }

/* corners */

.corners { position:relative; z-index:1; padding:0 12px 62px; height:100%; }
.corners .wrap { position:relative; width:100%; height:100%; }
.corners .wrap .top { position:relative; overflow:hidden; width:100%; z-index:2; padding:10px 12px 0; margin:0 -12px; height:100%; }
.corners .wrap .bottom { position:relative; overflow:hidden; width:100%; padding:0 12px; height:50px; margin:0 -12px; }
.corners .wrap .main { position:relative; background-color:#F7F7F7; }
.corners .cn {
	position:absolute;
	width:100%;
	height:100%;
	z-index:-1;
	overflow:hidden;
	background-position:left top;
	background-repeat:no-repeat;
	left:-12px;
	top:-50px;
	background-image: url(../img/article_bg.png) ;
}
.corners .cn.tl, .corners .cn.tr { height:2000px; }
.corners .cn.tr, .corners .cn.br { margin-left:100%; }
.corners .cn.bl, .corners .cn.br { top:0 !important; }

#content .right .articles table { width:100%; }
#content .right .articles td { width:50%; position:relative; }

/* end */

#content .right .articles ul { width:100%; overflow:hidden; }
#content .right .articles li { width:49%; float:left; padding-right:1px; }
#content .right .articles li.clear { width:100%; clear:both; float:none; height:1px; overflow:hidden; padding:0; }
#content .right .articles .article-wrapper {
	position:relative;
	padding:3px 0 3px 0;
	overflow:hidden;
	float:left;
	width:100%;
}
#content .right .articles .article-wrapper .cn {
	width:100%;
	height:10000px;
	position:absolute;
	top:-50px;
	left:-12px;
	background: url(../img/article_bg.png) no-repeat left top;
}
#content .right .articles .article-wrapper .cn.tr, #content .right .articles .article-wrapper .cn.br { margin-left:100%; }
#content .right .articles .article-wrapper .cn.bl, #content .right .articles .article-wrapper .cn.br { top:100%; margin-top:-50px; }
#content .right .articles .article-wrapper .main-wrapper { padding:0 28px 0 20px; }
#content .right .articles .article-wrapper .main { overflow:hidden; position:relative; z-index:10; width:100%; }
#content .right .articles .article-wrapper .main a.img {
	width:8.5em;
	height:9.5em;
	display:block;
	float:left;
	border:1px solid #d4d4d4;
}
#content .right .articles .article-wrapper .main a.img img { width:8.5em; height:9.5em; }
#content .right .articles .article-wrapper .main .article-text-wrapper { width:100%; margin-left:-10em; float:right; }
#content .right .articles .article-wrapper .main .article-text { margin-left:10em; position:relative; }
#content .right .articles .article-wrapper .main .article-text h2 { font-size:75%; font-weight:bold; line-height:2.6em; color:#484961; }
#content .right .articles .article-wrapper .main .article-text p { font-size:75%; color:#58595a; padding-bottom:7em; }
#content .right .articles .article-wrapper .main .buttons { position:absolute; width:100%; bottom:16px; left:0; }
#content .right .articles .article-wrapper .main .buttons div { margin-left:10em; }
#content .right .articles .article-wrapper .main .buttons div span { color:#7a7a7a; font-weight:bold; font-size:81.25%; }
#content .right .articles .article-wrapper .main .buttons div b { padding-top:1.2em; display:block; color:#b3420c; font-size:93.75%; }
#content .right .articles .article-wrapper .main .buttons div b i { font-style:normal; font-weight:normal; }
#content .right .articles .article-wrapper .main .buttons div .buy {
	margin:0;
	padding:0;
	position:absolute;
	width:4.5em;
	height:1.25em;
	left:-4.5em;
	bottom:0;
	margin-left:100%;
	line-height:1em;
}
#content .right .articles .article-wrapper .main .buttons div .buy img { position:absolute; width:100%; height:100%; top:0; left:0; }
#content .right .articles .article-wrapper .main .buttons div .buy a {
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	color:#fff;
	font-weight:bold;
	font-size:68.75%;
	text-align:center;
}
#content .right .basket { position:relative; margin:3em 2em 0 0.8em; }
#content .right .basket table { width:100%;}
#content .right .basket table th {
	text-align:center;
	color:#fff;
	background-color:#c6c6d9;
	font-size:68.75%;
	font-weight:bold;
	padding:0.2em 0;
	border-right:3px solid #fff;
	border-bottom:3px solid #fff;
}
#content .right .basket table .photo { width:18%; }
#content .right .basket table .code { width:12.5%; }
#content .right .basket table .price { width:16.5%; }
#content .right .basket table .old-price { width:16.5%; }
#content .right .basket table .amount { width:7.5%; }
#content .right .basket table .summ { width:16.5%; }
#content .right .basket table td {
	text-align:center;
	border-right:3px solid #fff;
	border-bottom:3px solid #fff;
	padding:0.4em;
	font-size:62.5%;
	color:#1560b7;
	font-weight:bold;
}
#content .right .basket table tr.gray td { background:#f1f1f1; }
#content .right .basket table td.old-price { text-decoration:line-through; }
#content .right .basket table td.amount { color:#568ecf; }
#content .right .basket table td.summ { color:#000; }
#content .right .basket table td.delete a { color:#cb394f; } 
#content .right .basket .all { background-color:#f6f6f6; padding:0 0.8em 0 1.5em; line-height:2em; margin-top:0.5em; }
#content .right .basket .all p { font-size:68.75%; color:#000; font-weight:bold; }
#content .right .basket .all .submit {
	float:right;
	width:8em;
	height:1.25em;
	line-height:1em;
	position:relative;
	margin-top:0.4em;
	overflow:hidden;
}
#content .right .basket .all .submit img, #content .right .basket .all .submit input {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:none;
	border:0;
	color:#fff;
	font-size:68.75%;
	font-weight:bold;
}
#content .right .basket .all .submit input { cursor:pointer; height:80%; padding-bottom:20%; }
#content .right .basket .all .abort {
	float:right;
	width:5.6em;
	height:1.25em;
	line-height:1em;
	position:relative;
	margin-top:0.4em;
	overflow:hidden;
	text-align:center;
	margin-right:0.8em;
}
#content .right .basket .all .abort img, #content .right .basket .all .abort a {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:none;
	border:0;
	font-weight:bold;
}
#content .right .basket .all .abort a { font-size:68.75%; color:#fff; }
#content .right .description { margin:0 1.5em 0 0.5em; border-bottom:3px solid #dbdbdb; padding-bottom:2.5em; }
#content .right .description .top, #content .right .description .bottom { overflow:hidden; width:100%; }
#content .right .description .left-desc { width:15em; float:left; margin:0 1em; }
#content .right .description .top .left-desc { height:20em; }
#content .right .description .wrapper-right { float:right; width:100%; margin-left:-17em; }
#content .right .description .wrapper-right .right-desc { margin-left:17em; }
#content .right .description .top .wrapper-right .right-desc h2 {
	font-size:93.75%;
	line-height:4em;
	color:#f36718;
	font-weight:bold;
	padding-left:1.3em;
}
#content .right .description .top .wrapper-right .right-desc table { width:100%; }
#content .right .description .top .wrapper-right .right-desc tr.gray td.first { background-color:#f4f4f4; }
#content .right .description .top .wrapper-right .right-desc tr.gray td.second { background-color:#e8e8e8; }
#content .right .description .top .wrapper-right .right-desc td { padding:0.1em 1.5em; font-size:75%; color:#000; border-bottom:1px solid #fff; }
#content .right .description .top .wrapper-right .right-desc td.first { width:35%; font-weight:bold; background-color:#f8f8f8; }
#content .right .description .top .wrapper-right .right-desc td.second { background-color:#f1f1f1; }
#content .right .description .bottom .left-desc { margin:0; width:17em; }
#content .right .description .bottom .left-desc .title { background-color:#f3f3f3; padding:0.4em 1em; }
#content .right .description .bottom .left-desc .title p { font-size:93.75%; color:#b3420c; font-weight:bold; }
#content .right .description .bottom .left-desc .title p span { font-weight:normal; }
#content .right .description .bottom .left-desc .title .add-to-basket {
	float:right;
	width:5.4em;
	height:1.25em;
	position:relative;
	text-align:center;
	line-height:1.1em;
}
#content .right .description .bottom .left-desc .title .add-to-basket img,
#content .right .description .bottom .right-desc .games img,
#content .right .description .bottom .right-desc .descr-button img { position:absolute; top:0; left:0; width:100%; height:100%; }
#content .right .description .bottom .left-desc .title .add-to-basket a,
#content .right .description .bottom .right-desc .games a,
#content .right .description .bottom .right-desc .descr-button a { position:relative; display:block; color:#fff; font-weight:bold; font-size:68.75%; height:100%; }
#content .right .description .bottom .left-desc ul { margin-left:1em; line-height:1.5em; margin-top:0.5em; }
#content .right .description .bottom .left-desc li { padding-left:1em; background: url(../img/blue_dot.png) no-repeat left center; }
#content .right .description .bottom .left-desc li span { display:block; font-size:68.75%; color:#0073e8; font-weight:bold; }
#content .right .description .bottom .right-desc .buttons { overflow:hidden; width:100%; } 
#content .right .description .bottom .right-desc .games,
#content .right .description .bottom .right-desc .descr-button { margin-left:1em; margin-top:0.3em; width:9.5em; height:1.25em; position:relative; text-align:center; line-height:1.1em; float:left; }
#content .right .description .bottom .right-desc .descr-button { width:5.5em; }
#content .right .description .bottom .right-desc p { margin-top:1.5em; font-size:75%; margin-left:1.33em; text-align:justify; }
#content .left {
	width:13.85em;
	float:left;
	position:relative;
	background: url(../img/right_dashed.png) repeat-y right top;
	margin:0.75em 0 0 1.5em;
	padding-right:0.4em;
	display:inline;
	padding-bottom:5em;
}
#content .left ul.nav { margin-top:2.25em; border-bottom:3px solid #dfdfdf; padding-bottom:0.3em; } 
#content .left ul.nav li { margin-left:1.25em; border-bottom:1px solid #dfdfdf; padding:1px; }
#content .left ul.nav li.last { border-bottom:0; }
#content .left ul.nav li a {
	color:#1a2732;
	font-size:75%;
	display:block;
	font-weight:bold;
	line-height:1.4em;
	padding-left:1.3em;
	background: url(../img/red_quad.png) no-repeat 0.3em 0.6em;
}
#content .left ul.nav li.current a { background-color:#8f909d; color:#fff; }
#content .left h2, #content .pay h2 { color:#3e3e3e; text-align:center; line-height:2.25em; }
#content .left h2 span, #content .pay h2 span { color:#ff3d00; }
#content .left .discount { text-align:center; border-bottom:3px solid #dfdfdf; }
#content .left .most_bought { border-bottom:3px solid #DFDFDF; padding-bottom:1em; }
#content .left .slider {
	width:12em;
	margin:0 auto;
	overflow:hidden;
}
#content .left .slider .arrows {
	width:1.5em;
	height:4.75em;
	background:#f5f5f5 no-repeat center;
	float:left;
	text-indent:-999999px;
	margin:0 !important;
	padding:0 !important;
	display:none;
}
#content .left .slider .arrows.active { display:block; }
#content .left .slider .arrows.forw { background-image: url(../img/gray_arrow_right.png); }
#content .left .slider .arrows.prev { background-image: url(../img/gray_arrow_left.png); }
#content .left .slider .carousel {
	width:8.75em;
	height:4.75em;
	float:left;
	overflow:hidden;
	position:relative;
}
#content .left .slider .carousel ul { width:10000em; height:4.75em; }
#content .left .slider .carousel li { float:left; }
#content .left .slider .carousel li a, #content .left .slider .carousel li a img { height:4.75em; width:8.75em; display:block; }
#content .left .slider .slider-text {
	clear:both;
	margin:0 auto;
	width:16em;
	font:68.75%/1.4em Tahoma, Geneva, sans-serif;
	padding-top:1em;
}
#content .pay { clear:both; padding:1.5em 0 1.5em 3em; }
#content .pay h2 { text-align:left; padding-left:1.5em; }
#hfooter { height:5.5em; clear:both; width:100%; overflow:hidden; }
#footer {
	min-width:62em;
	width:100%;
	height:5.5em;
	margin-top:-5.5em;
	background: #0b3688 url(../img/footer_bg_top.png) repeat-x left top;
}
#footer .bg { height:5.5em; width:100%; background: url(../img/footer_bg_bottom.png) repeat-x left bottom; }
#welitta {
	width:20em;
	height:5.5em;
	background: url(../img/footer_bg_top.jpg) no-repeat left top;
	float:left;
}
#welitta .bg { overflow:hidden; background: url(../img/footer_bg_bottom.jpg) no-repeat left bottom; }
#welitta a {
	font-size:75%;
	margin:2.5em 0 0 4.5em;
	color:#70a2ff;
	display:block;
	text-decoration:underline;
	width:10.4em;
}
#welitta a:hover { text-decoration:none; }
#welitta p { margin-left:4.5em; font-size:75%; color:#fff; }
#footer .banner {
	float:right;
	width:29.4em;
	height:3.9em;
	margin:1.1em 1.4em 0 0;
	display:inline;
	background:#DDF6FA;
}
#footer .banner img { width:29.4em; height:3.9em; }