/* main */

#container { height:100%; }

/* first-child */

#authorize li, #header .menu li, #content .right .left .learn-more li {
	jscript: expression(
		this.p ? 0 : (
			this == parentNode.firstChild ? (className += " first-child") : 0,
			this.p = 1
		)
	);
}

/* header menu */

#header .menu { width:645px; }

/* list */

#content .left .menu li, #content .left .menu li h3, #content .left .menu li h2 { vertical-align:top; zoom:1; }

/* png */

.corners .cn, #content .left .menu li a img { filter: expression(fixPNG(this)); }
