#navigation li {
	display:inline;
	margin-left:0;
}

.blue-cor .cn, .blue-bor-cor .cn, .white-cor .cn {
	filter: expression(fixPNG(this));
}

#container {
	height:100%;
}

#content-main .right .news li, #content .text .text-content, #content ul.install ul .install-wrapper {
	zoom:1;
}

#content-main .left .cars-logo li a, #content .text .text-content.install li, #content ul.install li li {
	m: expression(this.onmouseenter = new Function("this.className = 'iehover';"), this.onmouseleave = new Function("this.className = '';")); 
}

#buy-sub {
	margin-left:6em;
}

#content .text .text-content form.buy .pages .select-page p, #content .text .text-content form.buy .pages .select-page li  {
	display:inline;
	margin-right:0.3em;
}
						 
#content .text .text-content form.buy .pages .select-page ul {
	display:inline;
}

#content ul.headline-tree li.first {
	padding-right:0.4em;
}

#content .text .text-content .forum-comment {
	right:15.5em;
}