#navigation li {
	display:inline;
	margin-left:0;
}

.blue-cor .cn, .blue-bor-cor .cn, .white-cor .cn {
	filter: expression(fixPNG(this));
}

#container {
	height:100%;
}

#content-main .right .news li, #content .text .text-content {
	zoom:1;
}

#content-main .left .cars-logo li a {
	m: expression(this.onmouseover = new Function("this.className = 'iehover';"), this.onmouseout = new Function("this.className = '';")); 
}

#buy-sub {
	margin-left:6em;
}

#content .text .text-content form .pages .select-page p, #content .text .text-content form .pages .select-page li  {
	display:inline;
	margin-right:0.3em;
}
						 
#content .text .text-content form .pages .select-page ul{
	display:inline;
}