#content ul.left li ul { padding-top:0.2em; }
#content ul.left li li { padding-left:0; margin-top:0; background:none; }
#content ul.left li li a { font-size:62.5%; text-decoration:none; color:#e1d3d3; line-height:1.7em; }